<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Map接口-->
<mapper namespace="com.emovie.dao.MovieDao">
    <resultMap id="RecordMap" type="com.emovie.entity.Movie">
        <id column="id" property="id"></id>
        <result column="adult" property="adult"></result>
        <result column="budget" property="budget"></result>
        <result column="homepage" property="homepage"></result>
        <result column="imgbId" property="imgbId"></result>
        <result column="originalLanguage" property="originalLanguage"></result>
        <result column="originalTitle" property="originalTitle"></result>
        <result column="overview" property="overview"></result>
        <result column="popularity" property="popularity"></result>
        <result column="posterPath" property="posterPath"></result>
        <result column="releaseDate" property="releaseDate"></result>
        <result column="revenue" property="revenue"></result>
        <result column="runtime" property="runtime"></result>
        <result column="status" property="status"></result>
        <result column="tagline" property="tagline"></result>
        <result column="title" property="title"></result>
        <result column="voteAverage" property="voteAverage"></result>
        <result column="voteCount" property="voteCount"></result>
        <result column="allCrew" property="allCrew"></result>
        <result column="deleted" property="deleted"></result>
    </resultMap>

    <update id="updateInfo" parameterType="com.emovie.entity.Movie">
    update movie
    <set>
        <if test="adult != null">
            `adult` = #{adult},
        </if>
        <if test="budget != null">
            budget = #{budget},
        </if>
        <if test="homepage != null">
            homepage = #{homepage},
        </if>
        <if test="originalLanguage != null">
            original_language = #{originalLanguage},
        </if>
        <if test="originalTitle != null">
            original_title = #{originalTitle},
        </if>
        <if test="overview != null">
            overview = #{overview},
        </if>
        <if test="popularity != null">
            popularity = #{popularity},
        </if>
        <if test="posterPath != null">
            poster_path = #{posterPath},
        </if>
        <if test="releaseDate != null">
            release_date = #{releaseDate},
        </if>
        <if test="revenue != null">
            revenue = #{revenue},
        </if>
        <if test="runtime != null">
            runtime = #{runtime},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="title != null">
            title = #{title},
        </if>
        <if test="voteAverage != null">
            vote_average = #{voteAverage},
        </if>
        <if test="voteCount != null">
            vote_count = #{voteCount},
        </if>
    </set>
        <where>
            id = #{id}
        </where>
    </update>


    <select id="getMovieByIDList" resultType="com.emovie.entity.Movie">
        select *
        from movie
        where id in
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getUserRecommend" resultType="com.emovie.entity.Movie">
        select *
        from movie
        where id in
            (
                select a.* from(select recommendId from user_recommend_svd where userid=#{userId} order by predictScore desc limit ${pageSize}
                         offset ${offset})a
            )
    </select>



</mapper>